* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
:root {
--font-family: 'Josefin Sans', sans-serif;
--Bright-Blue: hsl(220, 98%, 61%);
--Check-Background:linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
  
/* Light Theme */
--Very-Light-Gray: hsl(0, 0%, 98%);
--Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
--Light-Grayish-Blue: hsl(233, 11%, 84%);
--Dark-Grayish-Blue: hsl(236, 9%, 61%);
--Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

/* Dark Theme */
--Very-Dark-Blue: hsl(235, 21%, 11%);
--Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
--Light-Grayish-Blue: hsl(234, 39%, 85%);
--Light-Grayish-Blue-Hover : hsl(236, 33%, 92%);
--Dark-Grayish-Blue: hsl(234, 11%, 52%);
--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
--Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}
body {
  font-size:18px;
  font-family: var(--font-family);
  user-select:none;
}
.container {
  height:100vh;
  position:relative;
}
.container__dark {
  background: var(--Very-Dark-Blue);
}
/* Light Theme */
.head {
  background: url('./assets/bg-desktop-light.jpg');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  height:40%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.head__container {
  width:40%;
}
.head__article {
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.head__title {
  letter-spacing: 0.5em;
  color:var(--Very-Light-Gray);
  font-weight:700;
  font-size:2em;
}
.head__theme {
  cursor:pointer;
}
.head__input {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1em;
  background:white;
  border-radius:5px;
  overflow:hidden;
  padding:1em;
  margin-top:5%;
}
.head__check {
  border:1px solid var(--Very-Light-Grayish-Blue);
  height:1em;
  width:1em;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:100px;
  cursor:pointer;
}
.head__check:hover {
  border:1px solid var(--Bright-Blue);
}
.head__check-bg {
  background:var(--Check-Background);
}
.head__text {
  width:100%;
  border:none;
  outline:none;
  font-family:var(--font-family);
  font-size:16px;
}
/* Task */
.task__list-container {
  position:absolute;
  top:35%;
  width:100%;
}
.task {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
.task__container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:5px;
  overflow:hidden;
  width:40%;
}
.task__width {
  width:100%;
}
.task__list {
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:1em;
  padding:1em;
  background:white;
  border:1px solid var(--Very-Light-Grayish-Blue);
  cursor:grab;
}
.task__info {
  display:flex;
  align-items:center;
  gap:1em;
}
.task__check {
  border:1px solid var(--Very-Light-Grayish-Blue);
  height:1em;
  width:1em;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:100px;
  cursor:pointer;
}
.task__check:hover {
  border:1px solid var(--Bright-Blue);
}
.task__check-bg {
  background:var(--Check-Background);
}
.task__foot {
  display:flex;
  justify-content:space-around;
  align-items:center;
  gap:1em;
  padding:1em;
  background:white;
  width:40%;
  border:1px solid var(--Very-Light-Grayish-Blue);
}
.task__left {
  color:var(--Dark-Grayish-Blue);
  font-size:16px;
}
.navbar {
  width:100%;
  display:flex;
  justify-content:center;
}
.task__navigate {
  display:flex;
  align-items:center;
  gap:10%;
}
.check__text {
  cursor:pointer;
}
.navigate__btn {
  background:none;
  color:var(--Dark-Grayish-Blue);
  border:none;
  font-weight:700;
  font-size:14px;
  cursor:pointer;
}
.navigate__btn-dark {
  background:none;
  color:var(--Dark-Grayish-Blue);
  border:none;
  font-weight:700;
  font-size:14px;
  cursor:pointer;
}
.navigate__btn-dark:hover {
  background:none;
  color:var(--Light-Grayish-Blue);
  border:none;
  font-weight:700;
  font-size:14px;
  cursor:pointer;
  transition:0.2s ease-in-out;
}
.navigate__btn:hover {
  color: var(--Very-Dark-Grayish-Blue);
  transition:0.3s ease-in-out;
}
.task__active {
  color: var(--Bright-Blue);
}
.task__completed-btn {
  color:var(--Light-Grayish-Blue);
  border:none;
  font-weight:700;
  font-size:14px;
  cursor:pointer;
  background:none;
}
.task__completed-btn-dark {
  color:var(--Dark-Grayish-Blue);
  border:none;
  font-weight:700;
  font-size:14px;
  cursor:pointer;
  background:none;
}
.task__completed-btn-dark:hover {
  color:var(--Light-Grayish-Blue-Hover);
  border:none;
  font-weight:700;
  font-size:14px;
  cursor:pointer;
  background:none;
  transition:0.2s ease-in-out;
}
.task__completed-btn:hover {
  color: var(--Very-Dark-Grayish-Blue);
  transition:0.2s ease-in-out;
}
.task__cross {
  cursor:pointer;
}
/* Dark Theme */
.head__dark {
  background: url('./assets/bg-desktop-dark.jpg');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  height:40%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.head__input-dark {
  background:var(--Very-Dark-Grayish-Blue);
}
.head__text-dark {
  background:var(--Very-Dark-Grayish-Blue);
  color: var(--Light-Grayish-Blue);
}
.task-dark {
  background:var(--Very-Dark-Grayish-Blue);
  color:var(--Light-Grayish-Blue);
  border:none;
}
.task__bot-border {
  border-bottom: 1px solid var(--Dark-Grayish-Blue);
}
.task__container-dark {
  border:none;
}
.task__completed-btn {
  color:var(--Dark-Grayish-Blue);
}
.task__navigate-mobile {
  display:none;
}

@media screen and (max-width:600px) {
  .head {
    width:100%;
  }
  .head__title {
    font-weight:600;
    font-size:1.5em;
  }
  .task__container,.head__container {
    width:80%;
  }
  .task__navigate {
    display:none;
  }
  .task__width {
    width:80%;
  }
  .task__list {
    width:100%;
  }
  .task__list-container {
    top:30%;
  }
  .task__navigate-mobile {
    display:flex;
    justify-content: center;
    text-align:center;
    margin-top:1em;
  }
  .navigate__mobile {
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:1em;
    width:80%;
    border-radius:10px;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.199);
  }
}